.tabela-container {
    margin-top: 30px;
    border: 2px solid #8a4e9c;
    padding: 20px;
    border-radius: 5px;
    background-color: #fdf7ff;
}
  
.tabela-container h2 {
    color: #8a4e9c;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
  
.tabela-container label {
    display: inline-block;
    width: 80px;
    font-size: 16px;
    color: #8a4e9c;
}
  
.tabela-container span {
    font-size: 16px;
}

.espacamento{
    margin-bottom: 7px;
}
