<div class="tabela-container">
    <div>
        <h2>ENDEREÇO</h2>
    </div>
    <div class="espacamento">
        <label for="rua">Rua:</label>
        {{endereco.rua}}
    </div>
    <div class="espacamento">
        <label for="bairro">Bairro:</label>
        {{endereco.bairro}}
    </div>
    <div class="espacamento">
        <label for="cidade">Cidade:</label>
        {{endereco.cidade}}
    </div>
    <div class="espacamento">
        <label for="estado">Estado:</label>
        {{endereco.estado}}
    </div>
    <div>
        <label for="cep">CEP:</label>
        {{endereco.cep}}
    </div>
</div>
